@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

a,
.green {
  text-decoration: none;
  color: var(--green);
  transition: 0.4s;
}

.btn {
  border: 3px solid var(--green);
  border-radius: 8px;
  padding: 7px;
  margin: 7px;
  color: var(--color-heading);
  flex-shrink: 0;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
